$color--bg: #061125;
$color--bg-pattern: #101b2f;
$color--button-pressed: #1a2539;
$color--field: #293448;
$color--hovered-button: #424a5c;
$color--hint: #626d81;
$color--header: #d9d9d9;
$color--box: #152034;

$color--primary: #00288e;
$color--primary-dark: #006;
$color--primary-light: #2850b6;
$color--text: #cacaca;
$color--danger: #b5271e;
$color--box-secondary: #242d43;


$color--white: #fff;
$color--white-secondary: #fefefe;

$colors: (
  bg: $color--bg,
  bg-pattern: $color--bg-pattern,
  button-pressed: $color--button-pressed,
  field: $color--field,
  hovered-button: $color--hovered-button,
  hint: $color--hint,
  header: $color--header,
  primary: $color--primary,
  primary-dark: $color--primary-dark,
  primary-light: $color--primary-light,
  text: $color--text,
  danger: $color--danger,
  white: $color--white,
  white-secondary: $color--white-secondary,
  box-secondary: $color--box-secondary,
)

