@use 'resources/variables/fonts' as *;

@font-face {
  src: url('@/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-family: $font--main;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('@/assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-family: $font--main;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

