@use 'resources/variables' as *;
@use 'resources/mixins' as *;

html,
#app,
body {
  width: 100%;
  height: 100%;

}

body {
  min-height: 100%;
  font-family: $font--main;
  color: $color--text;
  background-image: url('@/assets/images/background.png');
  background-size: 30%;
  background-color: $color--bg;

}


.container {
  min-height: 100%;
  max-width: 1440px;
  display: flex;
  margin: 0 auto;

}

.h1,
h1 {
  @include text-h1;
}

.h2,
h2 {
  @include text-h2;
}

.h3,
h3 {
  @include text-h3;
}

.h4,
h4 {
  @include text-h4;
}

.text {
  &-lg {
    @include text-lg;
  }

  &-md {
    @include text-md;
  }

  &-sm {
    @include text-sm;
  }
}

.bold {
  font-weight: 700 !important;
}

.c-p {
  cursor: pointer !important;
}

// Colors
@each $_class-name,
  $_color in $colors
{
  // @sample
  // .bg-primary
  // .color-primary
  @include color($_class-name, $_color);
}

// Margins | Paddings
@include sizes-classes;

// Icons classes
@include icon-classes;

// Global classes
@include project-classes;

@include responsive(xs) {
  @include sizes-classes('-xs');
  @include project-classes('-xs');
}

@include responsive(sm) {
  @include sizes-classes('-sm');
  @include project-classes('-sm');
}

@include responsive(md) {
  @include sizes-classes('-md');
  @include project-classes('-md');
}

@include responsive(lg) {
  @include sizes-classes('-lg');
  @include project-classes('-lg');
}
