@use 'resources/variables' as *;
@use 'resources/mixins' as *;

html,
#app,
body {
  width: 100%;
  height: 100%;
}

body {
  // TODO: После подключения шрифтов убрать комментарий.
  //font-family: $font--main;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.form-body {
  &__title {
    margin-bottom: 30px;
  }
}

.auth-layout {
  min-height: 100vh;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 20px;
  padding: 20px;
  margin: 0 auto;


}

.auth-form-title {
  font-size: 2.5rem;
  text-align: center;
}

.h1,
h1 {
  @include text-h1;
}

.h2,
h2 {
  @include text-h2;
}

.h3,
h3 {
  @include text-h3;
}

.h4,
h4 {
  @include text-h4;
}

.text {
  &-lg {
    @include text-lg;
  }

  &-md {
    @include text-md;
  }

  &-sm {
    @include text-sm;
  }
}

.bold {
  font-weight: 700 !important;
}

.c-p {
  cursor: pointer !important;
}

// Colors
@each $_class-name,
  $_color in (('primary', $color--primary), ('white', $color--white), ('white-secondary', $color--white-secondary))
{
  // @sample
  // .bg-primary
  // .color-primary
  @include color($_class-name, $_color);
}

// Margins | Paddings
@include sizes-classes;

// Icons classes
@include icon-classes;

// Global classes
@include project-classes;

@include responsive(xs) {
  @include sizes-classes('-xs');
  @include project-classes('-xs');
}

@include responsive(sm) {
  @include sizes-classes('-sm');
  @include project-classes('-sm');
}

@include responsive(md) {
  @include sizes-classes('-md');
  @include project-classes('-md');
}

@include responsive(lg) {
  @include sizes-classes('-lg');
  @include project-classes('-lg');
}
